*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --bg-py: #7000FF;
  --bg-sy: #f2f4f7;
  --bg-gold: #FFFF00;
}
.container{
  max-width: 1250px;
  margin: auto;
}
@media screen and (max-width: 1280px) {
  .container{
    width: 100%;
    padding: 0 20px;
  }
}

li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: inherit;
}